[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-active-link = "*"
pymysql = "*"
django-debug-toolbar = "*"

[dev-packages]
autopep8 = "*"
pep8 = "*"
pylint = "*"
pylint-django = "*"

[requires]
python_version = "3.10"
