{% load static %}
<div class="header">


    <div class="header-left">
        <a href="index.html" class="logo">
            <img src=" {% static 'assets/img/logo.png' %}" alt="Logo">
        </a>
        <a href="index.html" class="logo logo-small">
            <img src="assets/img/logo-small.png" alt="Logo" width="30" height="30">
        </a>
    </div>

    <a href="javascript:void(0);" id="toggle_btn">
        <i class="fas fa-align-left"></i>
    </a>

    <div class="top-nav-search mt-3">
        <h4><strong>Welcome</strong>&nbsp;<span>{{ user.first_name }} {{ user.last_name }}</span>&nbsp;!</h4>
    </div>


    <a class="mobile_btn" id="mobile_btn">
        <i class="fas fa-bars"></i>
    </a>


    <ul class="nav user-menu">

        <li class="nav-item dropdown noti-dropdown">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <i class="far fa-bell"></i> <span class="badge badge-pill">3</span>
            </a>
            <div class="dropdown-menu notifications">
                <div class="topnav-dropdown-header">
                    <span class="notification-title">Notifications</span>
                    <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                </div>
                <div class="noti-content">
                    <ul class="notification-list">

                        {% for i in staff_notification %}

                        <li class="notification-message">
                            <a href="#">
                                <div class="media">
                                    <span class="avatar avatar-sm">
                                        <img class="avatar-img rounded-circle" alt="User Image"
                                            src="assets/img/profiles/avatar-02.jpg">
                                    </span>
                                    <div class="media-body">
                                        <p class="noti-details"><span class="noti-title">Hod</span> has
                                            Sent <span class="noti-title">you notification</span></p>
                                        <!-- <p class="noti-time"><span class="notification-time">4 mins ago</span> -->
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="topnav-dropdown-footer">
                    <a href="#">View all Notifications</a>
                </div>
            </div>
        </li>


        <li class="nav-item dropdown has-arrow">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">

                {% if user.profile_pic == '' %}
                <span class="user-img"><img class="rounded-circle" src="{% static 'assets/img/noimage.png' %}"
                        width="31"></span>

                {% else %}

                <span class="user-img"><img class="rounded-circle" src="/{{ user.profile_pic }}" width="31"></span>


                {% endif %}

            </a>
            <div class="dropdown-menu">
                <div class="user-header">
                    <div class="avatar avatar-sm">
                        {% if user.profile_pic == '' %}
                        <img src="{% static 'assets/img/noimage.png' %}" alt="User Image"
                            class="avatar-img rounded-circle">

                        {% else %}

                        <img src="/{{ user.profile_pic }}" alt="User Image" class="avatar-img rounded-circle">

                        {% endif %}
                    </div>
                    <div class="user-text">
                        <h6>{{ user.first_name }} {{ user.last_name }}</h6>
                        {% if user.user_type == '1' %}
                        <p class="text-muted mb-0">Head Of Department</p>
                        {% elif user.user_type == '2' %}
                        <p class="text-muted mb-0">Staff</p>
                        {% elif user.user_type == '3' %}
                        <p class="text-muted mb-0">Student</p>
                        {% endif %}
                    </div>
                </div>
                <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                {% if user.user_type == '1' %}
                <a class="dropdown-item" href="{% url 'staff_leave_requests' %}">{{ user.id }}</a>
                {% endif %}

                <a class="dropdown-item" href="{% url 'doLogout' %}">Logout</a>
            </div>
        </li>

    </ul>

</div>