<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title> XBWAFI- Inbox</title>

    <link rel="shortcut icon" href=" {% static ' assets/img/favicon.png' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">

    <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %} ">

    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
    <!--  datatable -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'assets/plugins/datatables/datatables.min.css' %}">

    {% block head %}

    {% endblock head %}

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <script src="{% static 'assets/js/swal.js' %}"></script>


        <script>
            Swal.fire(
                '{% if message.tags == "warning" %} Problem {% else %} Success {% endif %}',
                "{{ message }}",
                "{{ message.tags }}"
            );
        </script>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="main-wrapper">

        {% include 'includes/header.html' %}
        {% include 'includes/sidebar.html' %}


        <div class="page-wrapper">

            <div class="content container-fluid">
                {% block content %}




                {% endblock content %}
            </div>

        </div>




        <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>

        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

        <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>


        {% block js %}

        {% endblock js %}
        <script src="{% static 'assets/js/script.js' %}"></script>
        <script src="{% static 'assets/plugins/datatables/datatables.min.js'%}"></script>
        <script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js'%}"></script>
        <script src="{% static 'assets/plugins/apexchart/apexcharts.min.js'%}"></script>
        <script src="{% static 'assets/plugins/apexchart/chart-data.js'%}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#table_id').dataTable();
            });
        </script>


        <table id="table_id">


</html>