{% extends 'base.html' %}
{% block content %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'assets/plugins/datatables/datatables.min.css' %}">

{% endblock head %}
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Hod_home' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Add Staff</li>
            </ul>
            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal">
                Add Staff
            </button>

        </div>

    </div>

</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Staff</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="container">
                <form action="{% url 'add_staff'%}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" required name="first_name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" required name="last_name">
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" id="id_username" required name="username">
                                <span id="dd"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" id="id_email" required name="email">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" required class="form-control" name="password">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Profile Pic</label>
                                <input type="file" class="form-control" required name="profile_pic">
                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Address</label>
                                <textarea name="address" required class="form-control" id="" cols="5"
                                    rows="3"></textarea>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Gender</label>
                                <select class="form-control" name="gender">
                                    <option>Select Gender</option>
                                    <option>Female</option>
                                    <option>Male</option>
                                    <option>Others</option>
                                </select>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
            </form>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <!-- <div class="card-header">
                <h5 class="card-title mb-2">Default Datatable</h5>

            </div> -->
            <div class="card-body">
                <div class="table-responsive">
                    <table id="table_id" class="table table-stripped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Gender</th>
                                <th>Address</th>
                                <th>Created_at</th>
                                <th>Updated_at</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in staff %}
                            <tr>



                                <td>{{ i.id }}</td>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="#" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle"
                                                src="/{{ i.admin.profile_pic }}" alt="User Image"></a>
                                        <a href="#">{{ i.admin.first_name }} {{i.admin.last_name }}</a>
                                    </h2>
                                </td>
                                <td>{{ i.admin.email }}</td>
                                <td>{{ i.gender }}</td>
                                <td>{{ i.address }}</td>
                                <td>{{ i.created_at }}</td>
                                <td>{{ i.updated_at }}</td>

                                <td>

                                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                        data-target="#edit{{ i.id }}">
                                        <i class="fa fa-pen"></i>
                                    </button>

                                    <div class="modal bd-example-modal-sm" id="edit{{ i.id }}" tabindex="-1"
                                        role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Edit Details</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="container">
                                                    <form action="{% url 'edit_staff' i.admin.id %}" method="post"
                                                        enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        <div class="row">

                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label>First Name</label>
                                                                    <input type="text" class="form-control"
                                                                        value="{{ i.admin.first_name }}" required
                                                                        name="first_name">

                                                                    <input type="hidden" name="student_id"
                                                                        value="{{ i.admin.id }}">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label>Last Name</label>
                                                                    <input type="text" class="form-control"
                                                                        value="{{ i.admin.last_name }}" required
                                                                        name="last_name">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">

                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label>Username</label>
                                                                    <input type="text" class="form-control"
                                                                        id="username" required name="username"
                                                                        value="{{ i.admin.username }}">
                                                                    <span id="dd"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label>Email</label>
                                                                    <input type="email" class="form-control" id="email"
                                                                        value="{{ i.admin.email }}" required
                                                                        name="email">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label>Password</label>
                                                                    <input type="password" class="form-control"
                                                                        name="password"
                                                                        placeholder="Fill Only if you want to change Your Password">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label>Profile Pic</label>
                                                                    <input type="file" class="form-control"
                                                                        name="profile_pic">
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label>Address</label>
                                                                    <textarea name="address" required
                                                                        class="form-control" id="" cols="5"
                                                                        rows="3">{{ i.address }}</textarea>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6">
                                                                <div class="form-group">
                                                                    <label>Gender</label>
                                                                    <select class="form-control" name="gender">
                                                                        <option selected>{{ i.gender }}</option>
                                                                        <option>Select Gender</option>
                                                                        <option>Female</option>
                                                                        <option>Male</option>
                                                                        <option>Others</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                        data-target="#delete{{ i.id }}">
                                        <i class="fa fa-trash"></i>
                                    </button>

                                    <div class="modal bd-example-modal-sm" id="delete{{ i.id }}" tabindex="-1"
                                        role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-md" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">delete</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="container">
                                                    <form action="{% url 'delete_staff' i.admin.id %}" method="post"
                                                        enctype="multipart/form-data">
                                                        {% csrf_token %}

                                                        are you sure you want to delete
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </td>

                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>






        {% block js %}

        <script>
            $(document).ready(function () {
                // keyup event will be triggered when user leaves keyboard
                $("#id_email").keyup(function () {
                    var email = $(this).val();

                    if (email != "") {
                        $.ajax({
                            url: '{% url 'check_email_exist' %}',
                            type: 'POST',
                            data: { email: email }
                        })
                            .done(function (response) {
                                //console.log(response);

                                if (response == "True") {
                                    $(".email_error").remove();
                                    $("<span class='email_error' style='color: red; padding: 5px; font-weight: bold;'> Email Already Exists. </span>").insertAfter("#id_email")
                                }
                                else {
                                    $(".email_error").remove();
                                    $("<span class='email_error' style='color: green; padding: 5px; font-weight: bold;'> Email Available. </span>").insertAfter("#id_email")
                                }
                            })

                            .fail(function () {
                                console.log("Failed");
                            })
                    }
                    else {
                        $(".email_error").remove();
                    }

                })

                $("#id_username").keyup(function () {
                    var username = $(this).val();

                    if (username != "") {
                        $.ajax({
                            url: '{% url 'check_username_exist' %}',
                            type: 'POST',
                            data: { username: username }
                        })
                            .done(function (response) {
                                //console.log(response);

                                if (response == "True") {
                                    $(".username_error").remove();
                                    $("<span class='username_error' style='color: red; padding: 5px; font-weight: bold;'> Username Already Exists. </span>").insertAfter("#id_username")
                                }
                                else {
                                    $(".username_error").remove();
                                    $("<span class='username_error' style='color: green; padding: 5px; font-weight: bold;'> Username Available. </span>").insertAfter("#id_username")
                                }
                            })

                            .fail(function () {
                                console.log("Failed");
                            })
                    }
                    else {
                        $(".username_error").remove();
                    }

                })
            })
        </script>
        {% endblock js %}

        {% endblock content %}