{% extends 'base.html' %}
{% block content %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'assets/plugins/datatables/datatables.min.css' %}">

{% endblock head %}
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Hod_home' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Add Subject</li>
            </ul>
            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal">
                Add Subject
            </button>

        </div>

    </div>

</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal bd-example-modal-sm" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="container">
                <form action="{% url 'add_subject' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>name</label>
                            <input type="text" class="form-control" required name="name">
                        </div>
                    </div>

                    <div class="col-12 col-sm-12">
                        <div class="form-group">
                            <label>Course</label>
                            <select class="form-control" name="course">
                                <option>--Select Course--</option>
                                {% for co in courses %}
                                <option value="{{ co.id }}">
                                    {{ co.name }}
                                </option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12">
                        <div class="form-group">
                            <label>Staff</label>
                            <select class="form-control" name="staff">
                                </option>
                                <option>--Select Staff--</option>
                                {% for se in staffs %}
                                <option value="{{ se.id }}">
                                    {{se.admin.first_name}} {{ se.admin.last_name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <!-- <div class="card-header">
                <h5 class="card-title mb-2">Default Datatable</h5>

            </div> -->
            <div class="card-body">
                <div class="table-responsive">
                    <table id="table_id" class="table table-stripped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Course</th>
                                <th>Staff</th>
                                <th>Updated_at</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in subject %}
                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.name }}</td>
                                <td>{{ i.course_id.name }}</td>
                                <td>{{ i.staff.admin.first_name }} {{ i.staff.admin.last_name }}</td>
                                <td>{{ i.updated_at }}</td>

                                <td>

                                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                        data-target="#edit{{ i.id }}">
                                        <i class="fa fa-pen"></i>
                                    </button>

                                    <div class="modal bd-example-modal-sm" id="edit{{ i.id }}" tabindex="-1"
                                        role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-md" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Subject Edit</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="container">
                                                    <form action="{% url 'edit_subject'%}" method="post"
                                                        enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label>name</label>
                                                                <input type="text" class="form-control"
                                                                    value="{{ i.name }}" required name="name">

                                                                <input type="hidden" name="subject_id"
                                                                    value="{{ i.id }}">

                                                            </div>
                                                        </div>

                                                        <div class="col-12 col-sm-12">
                                                            <div class="form-group">
                                                                <label>Course</label>
                                                                <select class="form-control" name="course">
                                                                    <option value="{{ i.course_id.id }}">
                                                                        {{i.course_id.name }}</option>
                                                                    <option>Select Course</option>
                                                                    {% for co in courses %}
                                                                    <option value="{{ co.id }}">
                                                                        {{ co.name }}
                                                                    </option>
                                                                    {% endfor %}

                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-12">
                                                            <div class="form-group">
                                                                <label>Staff</label>
                                                                <select class="form-control" name="staff">
                                                                    <option value="{{ i.id }}" selected>
                                                                        {{i.staff.admin.first_name}}
                                                                        {{i.staff.admin.last_name }}
                                                                    </option>
                                                                    <option>Select Staff</option>
                                                                    {% for se in staffs %}
                                                                    <option value="{{ se.id }}">
                                                                        {{se.admin.first_name}}
                                                                        {{se.admin.last_name }}
                                                                    </option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>

                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                        data-target="#delete{{ i.id }}">
                                        <i class="fa fa-trash"></i>
                                    </button>

                                    <div class="modal bd-example-modal-sm" id="delete{{ i.id }}" tabindex="-1"
                                        role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-md" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">delete</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="container">
                                                    <form action="{% url 'delete_subject' i.id %}" method="post"
                                                        enctype="multipart/form-data">
                                                        {% csrf_token %}

                                                        are you sure you want to delete
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </td>

                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>






        {% block js %}
        <script>


            // $(document).ready(function () {

            //     $("#username").change(function () {

            //         var username = $(this).val();

            //         $.ajax({
            //             url: '/check_username/',
            //             data: {
            //                 'username': username
            //             },
            //             dataType: 'json',
            //             success: function (data) {
            //                 if (data.is_taken) {
            //                     alert('A user with this username already exists')
            //                 }
            //             }
            //         })
            //     })

            // });



        </script>
        {% endblock js %}

        {% endblock content %}